{% if comment_list %}
    <ul>
        {% for comment in comment_list %}
            <li>
                {% if comment.replyer %}
                    {{ comment.user.user_nickname }} 回复 {{ comment.replyer.user.user_nickname }} 说:
                {% else %}
                    {{ comment.user.user_nickname }} 说:
                {% endif %}
                {{ comment.comment_text }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<p><a href={% url 'blog:index' %}>返回文章列表</a></p>